@page "/sch10.3-block-5"
@layout Migration.Components.Layout.AuthenticatedLayout


<div class="main-content">
    <!-- Top Header -->
    <SurveryTopHeader />
    <!-- Top Header -->
    @*  block-5 particulars of out-migrants who migrated out at any time in the past  (i.e., for households with entry 1 in item 9 of Block 4)  *@
    <div class="card custom-card">
        <div class="card-header">
            <h3 class="card-title">
                <span class="text-primary me-2">[Block 5]</span>Particulars of out-migrants who migrated out at any time in the past<br />
                (i.e., for households with entry 1 in item 9 of Block 4)
            </h3>
            <div class="card-tools">
                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addMigrationBlock5Modal"><i class="fi fi-rr-plus me-1"></i>Add</button>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-striped table-bordered mb-0 align-middle">
                    <thead>
                        <tr>
                            <th rowspan="2">Sl. No.</th>
                            <th rowspan="2">Name of out-migrant member</th>
                            <th rowspan="2">Relation to head (code)</th>
                            <th rowspan="2">Gender (male-1, female-2, transgender-3)</th>
                            <th rowspan="2">Age (years)</th>
                            <th rowspan="2">Present place of residence (code)</th>
                            <th rowspan="2">For code 3 or 4 in Col 6, State /UT/ country of present place of residence (code)</th>
                            <th rowspan="2">Reason for migration (code)</th>
                            <th rowspan="2">Period since leaving the household (years)</th>
                            <th rowspan="2">Whether presently engaged in any economic activity (Yes – 1, No – 2, Not Known – 9)</th>
                            <th rowspan="2">For code 1 in col 10, principal activity status (code)</th>
                            <th rowspan="1" colspan="2">If code 1 in col 13</th>
                            <th rowspan="2">Action</th>
                        </tr>
                        <tr>
                            <th>For entry in col 11, industry division(2-digit NIC 2025)</th>
                            <th>Whether sent remittances during the last 365 days (yes - 1, no –2)</th>
                        </tr>
                        <tr>
                            <th>(1)</th>
                            <th>(2)</th>
                            <th>(3)</th>
                            <th>(4)</th>
                            <th>(5)</th>
                            <th>(6)</th>
                            <th>(7)</th>
                            <th>(8)</th>
                            <th>(9)</th>
                            <th>(10)</th>
                            <th>(11)</th>
                            <th>(12)</th>
                            <th>(13)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Block 3 ADD or edit modal Modal -->
    <div class="modal fade" id="addMigrationBlock3Modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header py-2">
                    <h1 class="modal-title fs-5">Add Details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- Serial Number -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label"><span class="form-badge">1</span>Serial Number</label>
                                <input type="number" class="form-control form-control-sm" disabled />
                            </div>
                        </div>
                        <!--Name -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label"><span class="form-badge">2</span>Name of the household member</label>
                                <input type="text" class="form-control form-control-sm" />
                            </div>
                        </div>

                        <!-- 3 - Relation -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label"><span class="form-badge">3</span>Relation to head (code)</label>
                                <select class="form-select form-select-sm">
                                    <option value="">-- Select --</option>
                                    <option value="2">2 - Spouse of head</option>
                                    <option value="3">3 - Married child</option>
                                    <option value="4">4 - Spouse of married child</option>
                                    <option value="5">5 - Unmarried child</option>
                                    <option value="6">6 - Grand child</option>
                                    <option value="7">7 - Father / Mother / Father-in-law / Mother-in-law</option>
                                    <option value="8">8 - Brother / Sister / Brother-in-law / Sister-in-law / Other relatives</option>
                                    <option value="9">9 - Servant / Employees / Other non-relatives</option>
                                </select>
                            </div>
                        </div>
                        <!-- 4 - Gender -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label"><span class="form-badge">4</span> Gender (code)</label>
                                <select class="form-select form-select-sm">
                                    <option value="">-- Select --</option>
                                    <option value="1">1 - Male</option>
                                    <option value="2">2 - Female</option>
                                    <option value="3">3 - Transgender</option>
                                </select>
                            </div>
                        </div>
                        <!-- 5 - Age -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label"><span class="form-badge">5</span> Age(years)</label>
                                <input class="form-control form-control-sm" type="number" />
                            </div>
                        </div>

                        <!-- 6 - Present Residence -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label"><span class="form-badge">6</span> Present place of residence (code)</label>
                                <select class="form-select form-select-sm">
                                    <option value="">-- Select --</option>
                                    <option value="1">1 - Same state and within the same district</option>
                                    <option value="2">2 - Same state but another district</option>
                                    <option value="3">3 - Outside the state</option>
                                    <option value="4">4 - Another country</option>
                                    <option value="9">9 - Not known</option>

                                </select>
                            </div>
                        </div>
                        <!-- 7 - State -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label"><span class="form-badge">7</span> For code 3 or 4 in Col 6, State /UT/ country of present place of residence (code)</label>
                                <select class="form-select form-select-sm">
                                    <option value="">-- Select --</option>
                                    <option value="01">01 - Search of employment</option>
                                    <option value="02">02 - Search of better employment</option>
                                    <option value="03">03 - Business</option>
                                    <option value="04">04 - To take up employment / better employment</option>
                                    <option value="05">05 - Transfer of service/contract</option>
                                    <option value="06">06 - Proximity to place of work</option>
                                    <option value="07">07 - Studies</option>
                                    <option value="08">08 - Natural disaster</option>
                                    <option value="10">10 - Social/political problems</option>
                                    <option value="11">11 - Displacement by development project</option>
                                    <option value="12">12 - Scarcity of water</option>
                                    <option value="13">13 - Acquisition of own house/flat</option>
                                    <option value="14">14 - Housing problems</option>
                                    <option value="15">15 - Health care</option>
                                    <option value="16">16 - Post-retirement</option>
                                    <option value="17">17 - Marriage</option>
                                    <option value="18">18 - Migration of parent/earning member</option>
                                    <option value="19">19 - Others</option>
                                </select>
                            </div>
                        </div>

                        <!-- 8 - whether presently engaged in any economic activity  -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label"><span class="form-badge">8</span> Whether presently engaged in any economic activity </label>
                                <select class="form-select form-select-sm">
                                    <option value="">-- Select --</option>
                                    <option value="1">1 - Yes</option>
                                    <option value="2">2 - No</option>
                                </select>
                            </div>
                        </div>

                        <!-- 9 period since leaving the household (years) -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label">
                                    <span class="form-badge">9</span> period since leaving the household (years)
                                </label>
                                <input class="form-control form-control-sm" id="Item_9" type="number" maxlength="2" />
                            </div>
                        </div>

                        <!-- 10 whether presently engaged in any economic activity -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label"><span class="form-badge">10</span> Whether presently engaged in any economic activity </label>
                                <select class="form-select form-select-sm">
                                    <option value="">-- Select --</option>
                                    <option value="1">1 - Yes</option>
                                    <option value="2">2 - No</option>
                                    <option value="9">9 - Not Known</option>
                                </select>
                            </div>
                        </div>

                        <!-- 11 Principal Activity Status  -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label"><span class="form-badge">9</span> For code 1 in col 10, principal activity status </label>
                                <select class="form-select form-select-sm">
                                    <option value="">-- Select --</option>
                                    <option value="11">11 - Worked in HH enterprise (self-employed): Own account worker</option>
                                    <option value="12">12 - Employer</option>
                                    <option value="21">21 - Worked as helper in HH enterprise (unpaid family worker)</option>
                                    <option value="31">31 - Worked as regular salaried / wage employee</option>
                                    <option value="41">41 - Worked as casual wage labour: In public works</option>
                                    <option value="51">51 - Worked as casual wage labour: In other types of work</option>
                                </select>
                            </div>
                        </div>


                        <!-- 12 For entry in col 11, industry division (2-digit NIC 2025) -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label">
                                    <span class="form-badge">12</span> For entry in col 11, industry division (2-digit NIC 2025)
                                </label>
                                <input class="form-control form-control-sm" id="IndustrialDivisionNIC" type="text" maxlength="2" />
                            </div>
                        </div>

                        <!-- 13 whether sent remittances during the last 365 days  -->
                        <div class="col-sm-12">
                            <div>
                                <label class="form-label"><span class="form-badge">13</span> Whether sent remittances during the last 365 days </label>
                                <select class="form-select form-select-sm">
                                    <option value="">-- Select --</option>
                                    <option value="1">1 - Yes</option>
                                    <option value="2">2 - No</option>
                                </select>
                            </div>
                        </div>


                        <!-- 14 frequency of transfer of remittance  -->
                        <div class="col-sm-12">
                            <div>
                                <label class="form-label"><span class="form-badge">14</span> Frequency of transfer of remittance  </label>
                                <select class="form-select form-select-sm">
                                    <option value="">-- Select --</option>
                                    <option value="1">1 - Monthly</option>
                                    <option value="2">2 - Quarterly</option>
                                    <option value="3">3 - Half-Yearly</option>
                                    <option value="4">4 - Once in a year</option>
                                    <option value="9">9 - infrequent/irregularly</option>
                                </select>
                            </div>
                        </div>

                        <!-- 15 amount of remittances sent during the last 365 days (Rs.)  -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label">
                                    <span class="form-badge">15</span> Amount of remittances sent during the last 365 days (Rs.)
                                </label>
                                <input class="form-control form-control-sm" id="Item_15" type="number" min="0.00" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer py-2">
                    <button type="button" class="btn btn-outline-secondary me-auto" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>

    </div>

</div>
