@page "/sch10.3-block-3"
@layout Migration.Components.Layout.AuthenticatedLayout

@using BootstrapBlazor.Components
@using Migration.Models
@* @using Migration.DTOs *@

@* @inject ISchedule10_3Service ScheduleService *@
@inject NavigationManager navigationManager


<div class="main-content">
    <!-- Top Header -->
    <SurveryTopHeader />
    <!-- Top Header -->
    @* block-3 Migration *@
    <div class="card custom-card">
        <div class="card-header">
            <h3 class="card-title">
                <span class="text-primary me-2">[Block 3]</span>Demographic and other particulars of household members
            </h3>
            <div class="card-tools">
                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addMigrationBlock3Modal"><i class="fi fi-rr-plus me-1"></i>Add</button>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-striped table-bordered mb-0 align-middle">
                    <thead>
                        <tr>
                            <th rowspan="2">Sl. No.</th>
                            <th rowspan="2">Name of household member</th>
                            <th rowspan="2" style="min-width: 115px;">Relation to head (code)</th>
                            <th rowspan="2" style="min-width: 115px;">Gender (code)</th>
                            <th rowspan="2">Age (years)</th>
                            <th rowspan="2">Marital status(code)</th>
                            <th rowspan="2">Highest level of education Completed successfully(code)</th>
                            <th rowspan="2">Number of years in formal education</th>
                            <th rowspan="2">
                                <p class="mb-0 fw-bold">For persons age 0 to 29 years, status of current attendance(code)</p>
                            </th>
                            <th rowspan="2">Principal activity status (code)</th>
                            <th colspan="2" class="text-center">For codes 11-51 in Col 10</th>
                            <th rowspan="2">Action</th>
                        </tr>
                        <tr>
                            <th>Industry division (2-digit NIC 2025)</th>
                            <th>Occupation(3-digit NCO-2015)</th>
                        </tr>
                        <tr>
                            <th>(1)</th>
                            <th>(2)</th>
                            <th>(3)</th>
                            <th>(4)</th>
                            <th>(5)</th>
                            <th>(6)</th>
                            <th>(7)</th>
                            <th>(8)</th>
                            <th>(9)</th>
                            <th>(10)</th>
                            <th>(11)</th>
                            <th>(12)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Samair</td>
                            <td>1 - Self</td>
                            <td>1 - Male</td>
                            <td>29</td>
                            <td>2 - Currently married</td>
                            <td>04 - Literate without formal schooling: Other</td>
                            <td>10</td>
                            <td>25 - Middle</td>
                            <td>31 - Worked as regular salaried / wage employee</td>
                            <td>22</td>
                            <td>234</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <button class="btn btn-outline-primary me-2"><i class="fi fi-rr-pencil"></i></button>
                                    <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#alertModal"><i class="fi fi-rr-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Samira</td>
                            <td>2</td>
                            <td>1</td>
                            <td>22</td>
                            <td>2</td>
                            <td>12</td>
                            <td>2</td>
                            <td>14</td>
                            <td>31</td>
                            <td>22</td>
                            <td>234</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <button class="btn btn-outline-primary me-2"><i class="fi fi-rr-pencil"></i></button>
                                    <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#alertModal"><i class="fi fi-rr-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Block 3 ADD or edit modal Modal -->
    <div class="modal fade" id="addMigrationBlock3Modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header py-2">
                    <h1 class="modal-title fs-5">Add Details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- Serial Number -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label"><span class="form-badge">1</span>Serial Number</label>
                                <InputNumber class="form-control form-control-sm" disabled @bind-Value="newItem.Item1" />
                            </div>
                        </div>
                        <!--Name -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label"><span class="form-badge">2</span>Name of the household member</label>
                                <InputText type="text" class="form-control form-control-sm" @bind-Value="newItem.Item2" />
                            </div>
                        </div>

                        <!-- Relation -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label"><span class="form-badge">3</span>Relation to head (code)</label>
                                <InputSelect class="form-select form-select-sm" @bind-Value="newItem.Item3">
                                    <option value="">-- Select --</option>
                                    <option value="1">1 - Self</option>
                                    <option value="2">2 - Spouse of head</option>
                                    <option value="3">3 - Married child</option>
                                    <option value="4">4 - Spouse of married child</option>
                                    <option value="5">5 - Unmarried child</option>
                                    <option value="6">6 - Grand child</option>
                                    <option value="7">7 - Father / Mother / Father-in-law / Mother-in-law</option>
                                    <option value="8">8 - Brother / Sister / Brother-in-law / Sister-in-law / Other relatives</option>
                                    <option value="9">9 - Servant / Employees / Other non-relatives</option>
                                </InputSelect>
                            </div>
                        </div>
                        <!-- Gender -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label"><span class="form-badge">4</span>Gender (code)</label>
                                <InputSelect class="form-select form-select-sm" @bind-Value="newItem.Item4">
                                    <option value="">-- Select --</option>
                                    <option value="1">1 - Male</option>
                                    <option value="2">2 - Female</option>
                                    <option value="3">3 - Transgender</option>
                                </InputSelect>
                            </div>
                        </div>
                        <!-- Age -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label"><span class="form-badge">5</span>Age(years)</label>
                                <InputNumber class="form-control form-control-sm" @bind-Value="newItem.Item5" />
                            </div>
                        </div>
                        <!-- 6 -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label">
                                    <span class="form-badge">6</span>Marital status(code)
                                </label>
                                <InputSelect class="form-select form-select-sm" @bind-Value="newItem.Item6">
                                    <option value="">-- Select --</option>
                                    <option value="1">1 - Never married</option>
                                    <option value="2">2 - Currently married</option>
                                    <option value="3">3 - Widowed</option>
                                    <option value="4">4 - Divorced / Separated</option>
                                </InputSelect>
                            </div>
                        </div>
                        <!-- 7 -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label"><span class="form-badge">7</span>Highest level of education Completed successfully(code)</label>
                                <InputSelect class="form-select form-select-sm" @bind-Value="newItem.Item7">
                                    <option value="">-- Select --</option>
                                    <option value="01">01 - Not literate</option>
                                    <option value="02">02 - Literate without formal schooling: EGS / NFEC / AEC</option>
                                    <option value="03">03 - Literate without formal schooling: TLC</option>
                                    <option value="04">04 - Literate without formal schooling: Others</option>
                                    <option value="05">05 - Literate: Below primary</option>
                                    <option value="06">06 - Literate: Primary</option>
                                    <option value="07">07 - Literate: Upper primary / Middle</option>
                                    <option value="08">08 - Literate: Secondary</option>
                                    <option value="10">10 - Literate: Higher secondary</option>
                                    <option value="11">11 - Diploma / Certificate course</option>
                                    <option value="12">12 - Graduate</option>
                                    <option value="13">13 - Postgraduate and above</option>
                                </InputSelect>

                            </div>
                        </div>
                        <!-- 8 -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label"><span class="form-badge">8</span>Number of years in formal education</label>
                                <InputNumber class="form-control form-control-sm" @bind-Value="newItem.Item8" />
                            </div>
                        </div>
                        <!-- 9 -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label"><span class="form-badge">9</span>For persons age 0 to 29 years, status of current attendance(code)</label>

                                <InputSelect class="form-select form-select-sm" @bind-Value="newItem.Item9">
                                    <option value="">-- Select --</option>

                                    <!-- Currently not attending -->
                                    <optgroup label="Currently not attending — Never attended">
                                        <option value="01">01 - School too far</option>
                                        <option value="02">02 - To supplement household income</option>
                                        <option value="03">03 - Education not considered necessary</option>
                                        <option value="04">04 - To attend domestic chores</option>
                                        <option value="05">05 - Others</option>
                                    </optgroup>

                                    <optgroup label="Currently not attending — Ever attended but not attending now">
                                        <option value="11">11 - School too far</option>
                                        <option value="12">12 - To supplement household income</option>
                                        <option value="13">13 - Education not considered necessary</option>
                                        <option value="14">14 - To attend domestic chores</option>
                                        <option value="15">15 - Completed intended level of education</option>
                                        <option value="16">16 - Others</option>
                                    </optgroup>

                                    <!-- Currently attending -->
                                    <optgroup label="Currently attending in">
                                        <option value="21">21 - EGS/ NFEC/ AEC</option>
                                        <option value="22">22 - TLC</option>
                                        <option value="23">23 - Pre-primary (Nursery/Kindergarten, etc.)</option>
                                        <option value="24">24 - Primary (Class I to IV/V)</option>
                                        <option value="25">25 - Middle</option>
                                        <option value="26">26 - Secondary</option>
                                        <option value="27">27 - Higher secondary</option>

                                        <!-- Graduate -->
                                        <option value="28">28 - Graduate in Agriculture</option>
                                        <option value="29">29 - Graduate in Engineering/Technology</option>
                                        <option value="30">30 - Graduate in Medicine</option>
                                        <option value="31">31 - Graduate in Other subjects</option>

                                        <!-- Post graduate and above -->
                                        <option value="32">32 - Post graduate and above</option>

                                        <!-- Diploma/Certificate (below graduate) -->
                                        <option value="33">33 - Diploma/Certificate (below graduate) in Agriculture</option>
                                        <option value="34">34 - Diploma/Certificate (below graduate) in Engineering/Technology</option>
                                        <option value="35">35 - Diploma/Certificate (below graduate) in Medicine</option>
                                        <option value="36">36 - Diploma/Certificate (below graduate) in Crafts</option>
                                        <option value="37">37 - Diploma/Certificate (below graduate) in Other subjects</option>

                                        <!-- Diploma/Certificate (graduate level) -->
                                        <option value="38">38 - Diploma/Certificate (graduate level) in Agriculture</option>
                                        <option value="39">39 - Diploma/Certificate (graduate level) in Engineering/Technology</option>
                                        <option value="40">40 - Diploma/Certificate (graduate level) in Medicine</option>
                                        <option value="41">41 - Diploma/Certificate (graduate level) in Crafts</option>
                                        <option value="42">42 - Diploma/Certificate (graduate level) in Other subjects</option>

                                        <!-- Diploma/Certificate (post graduate and above level) -->
                                        <option value="43">43 - Diploma/Certificate (post graduate and above level)</option>
                                    </optgroup>
                                </InputSelect>


                            </div>
                        </div>
                        <!-- 10 -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label"><span class="form-badge">10</span>Principal Activity Status(code)</label>
                                <InputSelect class="form-select form-select-sm" @bind-Value="newItem.Item10">
                                    <option value="">-- Select --</option>
                                    <option value="11">11 - Worked in HH enterprise (self-employed): Own account worker</option>
                                    <option value="12">12 - Employer</option>
                                    <option value="21">21 - Worked as helper in HH enterprise (unpaid family worker)</option>
                                    <option value="31">31 - Worked as regular salaried / wage employee</option>
                                    <option value="41">41 - Worked as casual wage labour: In public works</option>
                                    <option value="51">51 - Worked as casual wage labour: In other types of work</option>
                                    <option value="81">81 - Did not work but was seeking and/or available for work</option>
                                    <option value="91">91 - Attended educational institution</option>
                                    <option value="92">92 - Attended domestic duties only</option>
                                    <option value="93">93 - Attended domestic duties and engaged in free collection of goods (vegetables, roots, firewood, cattle feed, etc.), sewing, tailoring, weaving, etc. for household </option>
                                    <option value="94">94 - Rentiers, pensioners, remittance recipients, etc.</option>
                                    <option value="95">95 - Not able to work due to disability</option>
                                    <option value="97">97 - Others (including begging, prostitution, etc.)</option>
                                    <option value="99">99 - Child less than 5 years (if code 91 not applicable)</option>
                                </InputSelect>
                            </div>
                        </div>
                        <!-- 11 -->
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label"><span class="form-badge">11</span>Industry division(2-digit NIC 2025)</label>
                                <InputText class="form-control form-control-sm" id="IndustrialDivisionNIC" type="text" maxlength="2" @bind-Value="newItem.Item11" />
                            </div>
                        </div>
                        <!-- 12 -->
                        <div class="col-sm-12">
                            <div>
                                <label class="form-label"><span class="form-badge">12</span>Occupation(3-digit NCO-2015)</label>
                                <InputText class="form-control form-control-sm" id="OccupationNCO" type="text" maxlength="3" @bind-Value="newItem.Item12" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer py-2">
                    <button type="button" class="btn btn-outline-secondary me-auto" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer pb-3">
    <div class="row">
        <div class="col-sm-6">
            <div class="d-flex">
                <button class="btn btn-outline-secondary" @onclick="@(() => navigationManager.NavigateTo("/sch10.3-block-1"))"><i class="fi fi-rr-angle-left me-1"></i>Back</button>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="d-flex align-items-center justify-content-end">
                <NavLink class="btn btn-primary  me-2 is_sso action"><i class="fi fi-rr-disk me-1"></i>Save</NavLink>
                <NavLink class="btn btn-outline-secondary" @onclick="@(() => navigationManager.NavigateTo("/sch10.3-block-4"))">Next<i class="fi fi-rr-angle-right ms-1"></i></NavLink>
            </div>
        </div>
    </div>
</div>
<!-- Alert Modal -->
<div class="modal alert-modal fade" id="alertModal" tabindex="-1"
     data-bs-backdrop="static"
     data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm ">
        <div class="modal-content text-center p-4 rounded-4 shadow">

            <!-- Icon -->
            <div class="mb-3">
                <div class="rounded-circle icon-container bg-danger  d-inline-flex align-items-center justify-content-center"
                     style="width:70px;height:70px;">
                    <i class="fi fi-rr-trash text-danger opacity-100 fs-2"></i>
                </div>
            </div>

            <!-- Title -->
            <h5 class="fw-bold mb-2">Are you sure?</h5>

            <!-- Description -->
            <p class="text-muted small mb-4">
                This action cannot be undone.<br>
                Do you really want to delete this record?
            </p>

            <!-- Buttons -->
            <div class="d-flex justify-content-center gap-2">
                <button type="button" class="btn btn-light px-4"
                        data-bs-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-danger px-4">
                    Delete
                </button>
            </div>

        </div>
    </div>
</div>


@code {
    List<Schedule10_3_Block3_Model> Models = [];
    Schedule10_3_Block3_Model newItem = new();

    #region change events

    private void Block1_Item1_Changed(ChangeEventArgs e)
    { // TODO - srl no 
    }
    private void Block1_Item2_Changed(ChangeEventArgs e)
    { // TODO - name of household member 
    }
    private void Block1_Item3_Changed(ChangeEventArgs e)
    { // TODO - relation to head (code) 
    }
    private void Block1_Item4_Changed(ChangeEventArgs e)
    { // TODO - gender 
    }
    private void Block1_Item5_Changed(ChangeEventArgs e)
    { // TODO - age (years)  
    }
    private void Block1_Item6_Changed(ChangeEventArgs e)
    { // TODO - marital status 
    }
    private void Block1_Item7_Changed(ChangeEventArgs e)
    { // TODO - highest level of education completed successfully (code) 
    }
    private void Block1_Item8_Changed(ChangeEventArgs e)
    { // TODO - number of years in formal education 
    }
    private void Block1_Item9_Changed(ChangeEventArgs e)
    { // TODO - for persons age 0 to 29 years, status of current attendance
    }
    private void Block1_Item10_Changed(ChangeEventArgs e)
    { // TODO - principal activity  
    }
    private void Block1_Item11_Changed(ChangeEventArgs e)
    { // TODO - industry division  
    }
    private void Block1_Item12_Changed(ChangeEventArgs e)
    { // TODO - occupation 
    }



    #endregion change events
}

