@page "/sch10.1-block-1"
@layout Migration.Components.Layout.AuthenticatedLayout


<div class="main-content">
    <div>
        <div class="d-flex align-items-center mb-3">
            <NavLink class="btn btn-outline-secondary btn-sm me-2" @onclick="@(() => navigationManager.NavigateTo("/ssulist"))">
                <i class="fi fi-rr-angle-left fs-15"></i>
            </NavLink>
            <div class="d-flex align-items-center">
                <h3 class="page-heading m-0 me-3">  FSUID: <strong class="me-2">#646465</strong> | SSUID: 1,2,5</h3>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-start">
                        <div class="text-center rounded-circle border">
                            <img src="/images/satellite.png" class="rounded-circle" width="40" alt="satellite">
                        </div>
                        <div class="ms-2">
                            <small class="fs-13 mb-0">Coordinate</small>
                            <p class="mb-0 fw-bolder">
                                22.5744° N, 88.3629° E
                            </p>
                        </div>
                    </div>
                    <div class="d-flex align-items-start">
                        <div class="ms-2">
                            <small class="fs-13 mb-0">Timestamp</small>
                            <p class="mb-0 fw-bolder">11 Nov, 2025 - 12:33:06</p>
                        </div>
                    </div>
                    <div class="form-group w-25">
                        <label class="form-label">Switch To Visited Block</label>
                        <select class="form-select form-select-sm w-100" id="exampleFormControlSelect1">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* block-1 Migration *@
    <div class="card custom-card">
        <div class="card-header">
            <h3 class="card-title"><span class="text-primary fw-bolder me-2">[Block 1]</span>Identification of sample household</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">1</span>Sector (Rural-1, Urban -2)</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">2</span>Type of Sample (Central -1, State -2)</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">3</span>State/U.T. Name</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">4</span>District Name</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">5</span>Name of Sub-District/Tehsil/Town</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">6</span>Village Name</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">7</span>Investigator Unit Number/Block Number:</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">8</span>Sample Sub-Unit (SU) Number</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">9</span>Round Number</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">10</span>Schedule name/Module</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">11</span>Serial Number of Sample FSU</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">12</span>Sample Sub-Division Number</label>
                        <input type="text" class="form-control form-control-sm" value="" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">13</span>Second Stage Stratum Number</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">14</span>Sample Household Number</label>
                        <input type="text" class="form-control form-control-sm" disabled />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">15</span>Survey Code</label>
                        <select class="form-select form-select-sm">
                            <option value="">-- Select --</option>
                            <option value="1">1 - Original</option>
                            <option value="2">2 - Substitute</option>
                            <option value="3">3 - Casualty</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">16</span>Reason for substitution/casualty of the original household<span class="text-danger ms-1">*</span></label>
                        <select class="form-select form-select-sm">
                            <option value="">-- Select --</option>
                            <option value="1">1 - Informant busy</option>
                            <option value="2">2 - Members away from home</option>
                            <option value="3">3 - Informant non-cooperative</option>
                            <option value="9">9 - Others</option>
                        </select>
                        <div class="form-text"><span class="text-danger">*</span>The interviewer will fill up this item if a substituted household is canvassed or the household is a casualty</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <label class="form-label">Others</label>
                        <input type="text" class="form-control form-control-sm" />
                        <div class="form-text">If code 9 in item 16,</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* block-1 Migration *@
    <div class="card custom-card">
        <div class="card-header">
            <h3 class="card-title"><span class="text-primary fw-bolder me-2">[Block 1]</span>Identification of sample household</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">1</span>Sector (Rural-1, Urban -2)</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">2</span>Type of Sample (Central -1, State -2)</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">3</span>State/U.T. Name</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">4</span>District Name</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">5</span>Name of Sub-District/Tehsil/Town</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">6</span>Village Name</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">7</span>Investigator Unit Number/Block Number:</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">8</span>Sample Sub-Unit (SU) Number</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">9</span>Round Number</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">10</span>Schedule name/Module</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">11</span>Serial Number of Sample FSU</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">12</span>Sample Sub-Division Number</label>
                        <input type="text" class="form-control form-control-sm" value="" disabled>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">13</span>Second Stage Stratum Number</label>
                        <input type="text" class="form-control form-control-sm" disabled>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">14</span>Sample Household Number</label>
                        <input type="text" class="form-control form-control-sm" disabled />
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">15</span>Survey Code</label>
                        <select class="form-select form-select-sm">
                            <option value="">-- Select --</option>
                            <option value="1">1 - Original</option>
                            <option value="2">2 - Substitute</option>
                            <option value="3">3 - Casualty</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label"><span class="form-badge">16</span>Reason for substitution/casualty of the original household<span class="text-danger ms-1">*</span></label>
                        <select class="form-select form-select-sm">
                            <option value="">-- Select --</option>
                            <option value="1">1 - Informant busy</option>
                            <option value="2">2 - Members away from home</option>
                            <option value="3">3 - Informant non-cooperative</option>
                            <option value="9">9 - Others</option>
                        </select>
                        <div class="form-text"><span class="text-danger">*</span>The interviewer will fill up this item if a substituted household is canvassed or the household is a casualty</div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div>
                        <label class="form-label">Others</label>
                        <input type="text" class="form-control form-control-sm" />
                        <div class="form-text">If code 9 in item 16,</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card custom-card">
        <div class="card-body">
            <div class="">
                <label class="form-label"><span class="form-badge bg-gradiant-secondary">17</span>Remarks</label>
                <textarea maxlength="500" type="text" class="form-control is_sso w-100" placeholder="Enter your remarks here..." rows="2" oninput="validateRemarks(event)"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="footer pb-5">
    <div class="row">
        <div class="col-sm-6">
            <div class="d-flex">
                <button class="btn btn-outline-secondary" @onclick="@(() => navigationManager.NavigateTo("/ssulist"))"><i class="fi fi-rr-angle-left me-1"></i>Back</button>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="d-flex align-items-center justify-content-end">
                <NavLink class="btn btn-primary  me-2 is_sso action"><i class="fi fi-rr-disk me-1"></i>Save</NavLink>
                <NavLink class="btn btn-outline-secondary" @onclick="@(() => navigationManager.NavigateTo("/sch10.1-block-3"))">Next<i class="fi fi-rr-angle-right ms-1"></i></NavLink>
            </div>
        </div>
    </div>
</div>

@code {
   
}

