@layout Migration.Components.Layout.AuthenticatedLayout
@page "/index"

<section class="login-bg">
	<div class="container">
		<div class="row justify-content-sm-center">
			<div class="col-xxl-5 col-xl-6 col-lg-6 col-md-8 col-sm-12">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <img src="/images/mospi_updated_logo.svg" alt="nsso Logo"  class="img-fluid" width="330">
                            <div class="ms-auto">
                                <button class="btn btn-sm btn-outline-secondary d-flex justify-content-center" @onclick="@(() => navigationManager.NavigateTo("/"))"><i class="fi fi-rr-power me-1"></i> Logout</button>
                            </div>
                        </div>
                        <div class="">
                             <div class="user-panel d-flex align-items-center my-4">
                            <div class="image avatar-latter color2">
                                AG
                            </div>
                            <div class="info d-block mt-2">
                                <div class="info text-left">
                                    <div class="info-name">Abhishek Ghosh</div>
                                    <small class="text-muted">ADQ-456367</small>
                                </div>
                            </div>
                        </div>
                            <h6 class="fw-bolder  mb-2 mt-4">National Statistics Office</h6>
                            <h4 class="fw-semibold mb-3 d-block">Welcome to Socio-Economic Migration Survey</h4>
                            @* <p class="fs-6">
                                EIGHTY FIRST ROUND: JULY, 2026 TO JUNE, 2027 <br /> HOUSEHOLD SCHEDULE 18.2: DEBT AND INVESTMENT 
                            </p> *@
                        
                        </div>
                     
                        <p class="mt-4">Please Select a Option:</p>
                     
                      
                        <NavLink class="info-card d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#alertModaldownload">
                            <div class="icon-box primary">
                                <i class="fi fi-rr-file-edit"></i>
                            </div>
                            <div class="ms-3">
                                <h6 class="fw-semibold mb-1 text-dark">Survey FSU</h6>
                                <p class="mb-0 text-muted small">
                                    Start Survey with FSU List
                                </p>
                            </div>
                              <div class="ms-auto d-flex align-content-center">
                                @* <span class="badge bg-primary me-2">10</span> *@
                                <i class="fi fi-br-angle-right fs-6 text-muted"></i>
                            </div>
                        </NavLink>
                        <NavLink class="info-card d-flex align-items-center">
                            <div class="icon-box">
                                <i class="fi fi-br-dashboard"></i>
                            </div>
                            <div class="ms-3">
                                <h6 class="fw-semibold text-dark mb-1">Dashboard</h6>
                                <p class="mb-0 text-muted small">
                                    Household SCHEDULE 18.2: Debt & Investment
                                </p>
                            </div>
                            <i class="fi fi-br-angle-right fs-6 text-muted ms-auto"></i>
                        </NavLink>
                        <NavLink class="info-card d-flex align-items-center">
                            <div class="icon-box primary1">
                                <i class="fi fi-rr-comment-alt"></i>
                            </div>
                            <div class="ms-3">
                                <h6 class="mb-1 fw-semibold text-dark">Referred Back</h6>
                                <p class="mb-0 text-muted small">
                                    Referred Back from FSU
                                </p>
                            </div>
                            <div class="ms-auto d-flex align-content-center">
                                @* <span class="badge bg-danger me-2">3</span> *@
                                <i class="fi fi-br-angle-right fs-6 text-muted"></i>
                            </div>
                        </NavLink>
                        <small class="text-muted mt-3 text-center w-100 d-block">Version : v23.7</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal alert-modal fade custom-alert-modal" id="alertModaldownload" tabindex="-1"
     data-bs-backdrop="static"
     data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm ">
        <div class="modal-content text-center p-4 rounded-4 shadow">

            <!-- Icon -->
            <div class="mb-3">
                <div class="rounded-circle icon-container light-warning d-inline-flex align-items-center justify-content-center"
                     style="width:70px;height:70px;">
                    <i class="fi fi-rr-exclamation text-warning opacity-100 fs-2"></i>
                </div>
            </div>

            <!-- Title -->
            <h5 class="fw-bold mb-2">Update task From Server? </h5>

            <!-- Description -->
            <p class="text-muted small mb-4">
                This action will update the task using server-side data.
            </p>

            <!-- Buttons -->
            <div class="d-flex justify-content-center gap-2">
                <button type="button" class="btn btn-light px-4"
                        data-bs-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-warning px-4" data-bs-dismiss="modal"  @onclick="@(() => navigationManager.NavigateTo("/fsulist"))">
                    Yes Confirm
                </button>
            </div>

        </div>
    </div>
</div>

@code {
    bool is_visible = false;

    protected override async Task OnInitializedAsync()
    {
        navigationManager.LocationChanged += OnLocationChanged;
        StateHasChanged();
        return;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        var route = navigationManager.ToBaseRelativePath(e.Location);
        if (route == "index")
        {
            is_visible = false;
            StateHasChanged();
            return;
        }
        is_visible = true;
        StateHasChanged();
        return;
    }
}